<div class="container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <form class="form-signin">
        <h2 class="form-signin-heading">Acessar como Membro</h2>
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder:"Email", required:"required"  %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder:"Senha", required:"required" %>

        <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

       
        <%= f.submit "Entrar", class:"btn btn-lg btn-primary btn-block" %>
      <% end %>
    </div>

