<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EscamboApp</title>
    
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= stylesheet_link_tag    'site/site', media: 'all'  %>

	  <%= javascript_include_tag 'application' %>
	  <%= javascript_include_tag 'site/site' %>
	  
	  <%= csrf_meta_tags %>

  </head>

  <body>
    <div id="global-spin" class="loading" style="display: none;">Loading&#8230;</div>
    <%= render partial: 'layouts/shared_site/header'  %>
		<%= yield %>
    <%= render partial: 'layouts/shared_site/footer'  %>
  </body>

</html>

